.meText {
	font-family: 'Lato', sans-serif;
}

.meTextFont {
	font-size: 16px;
}

.meNav {
	background-color: #fff;
    border-bottom-color: #fff;
    opacity: 0.8;
}

.meGrey {
	color: #424242;
}

.meSocialIconPadding {
	padding-right: 12px;
}

.meVerticalBottomSpace {
	margin-bottom: 60px;
}

.meVerticalTopSpace {
	margin-top: 60px;
}

.cf1 {
	background-color: #1e90ff;
	border-color: #1e90ff;
	border-radius: 0px;
}

.bstyle {
	background-color: #f7f5f5;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.center {
    text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}